@font-face {
    font-family: digital;
    src: url(../files/digital-7.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #2a2a2a;
    color: #fff;
}

/* header */
header {
    max-width: 650px;
    height: 64px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
    /* background-color: cadetblue; */
}

header h2 {
    font-family: digital;
    letter-spacing: 2px;
    text-align: center;
    user-select: none;
    line-height: 64px;
    font-size: 23px;
}

header h2:active {
    transform: scale(0.95);
}

.more-btn {
    height: 33.2px;
    width: 33.2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    user-select: none;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s;
}

.more-btn:hover {
    background-color: #7575759f;
}


.menu-container {
    position: absolute;
    top: 50px;
    left: 20px;
    border-radius: 12px;
    z-index: 1;
    user-select: none;
    background-color: #6a6a6a;
    box-shadow: none;
    user-select: none;
}

.menu-container div {
    position: relative;
    width: 140px;
    padding: 12px;
    padding-right: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.menu-container svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

#history,
#change-theme {
    border-bottom: 1px solid #858585;
}

.hide-menu {
    display: none;
}

/* calculator */
.calc-container {
    height: calc(100vh - 64px);
    height: calc(100svh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.calculator {
    width: 310px;
    margin: 0 auto;
    padding: 50px 20px 30px 20px;
    border-radius: 10px;
    background-color: rgb(81, 81, 81);
    box-shadow: 0 3px 5px rgb(100, 100, 100);
}

.display {
    background-color: #818181;
    box-shadow: none;
    font-family: digital;
    height: 60px;
    line-height: 60px;
    text-align: right;
    font-size: 35px;
    padding: 0 10px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    border-radius: 12px;
    overflow: hidden;
    white-space: nowrap;
    user-select: text;
}
.row1 {
    display: grid;
    grid-template-columns: 60px 60px 130px;
    grid-template-rows: repeat(1, 50px);
    gap: 10px;
    margin-bottom: 15px;
}

.row2 {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
    gap: 15px 10px;
}

.row1 button,
.row2 button {
    transition: all 0.2s;
}

.backspace svg,
.sound svg {
    position: relative;
    top: 3px;
}

.clear,
.backspace,
.sound {
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(255, 110, 0);
    box-shadow: 0 3px 5px rgb(40, 40, 40);
}

.number, .dotte {
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #8a8a8a;
    box-shadow: 0 3px 5px rgb(40, 40, 40);
}

.dotte,
.operator,
.equal {
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.operator {
    color: #fff;
    background-color: rgb(255, 150, 0);
    box-shadow: 0 3px 5px rgb(40, 40, 40);
}

.equal {
    color: #fff;
    background-color: rgb(255, 110, 0);
    box-shadow: 0 3px 5px rgb(40, 40, 40);
}

.row1 button:active,
.row2 button:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(0.9);
}

/* history */
.history-container {
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    direction: rtl;
    z-index: 3;
    position: fixed;
    top: 0;
    transition: all 0.4s;
    transform: translateX(100%);
}

.history-title {
    direction: ltr;
    width: 230px;
    border-radius: 16px 0 0 0;
    background-color: #3f3f3f;
}

.history-title h4 {
    position: relative;
    text-align: center;
    padding: 20px 0px;
    user-select: none;
}

.history-title h4 svg {
    position: absolute;
    right: 15px;
    cursor: pointer;
    user-select: none;
}

.history-items {
    height: 100%;
    overflow: auto;
    direction: ltr;
    width: 230px;
    border-radius: 0 0 0 16px;
    background-color: #3f3f3f;
}

.item:last-child {
    border-bottom: 1px solid #606060;
}

.item {
    padding: 5px 20px;
    border-top: 1px solid #606060;
}

.item-exp {
    color: #ccc;
    text-align: end;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    word-break: break-all;
}

.item-res {
    text-align: end;
    font-size: 18px;
    word-break: break-all;
}

.empty-history {
    height: 100%;
    line-height: calc(100vh - 100px);
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    letter-spacing: 2px;
    user-select: none;
}

.show-history {
    transform: translateX(0%);
}

/* contact */
#contact::after {
    content: "soon!";
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px 7px 15px;
    background-color: #444;
    clip-path: polygon(
        50% 0%,
        65% 20%,
        100% 20%,
        100% 100%,
        0 100%,
        0 20%,
        35% 20%
    );
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s;
}

#contact:hover::after {
    opacity: 1;
}

/* media query */
@media screen and (min-width: 570px) {
    .more-btn {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-container {
        order: -1;
        position: static;
        display: flex;
        gap: 10px;
    }
    .menu-container div {
        width: fit-content;
        padding-right: 30px;
        border-radius: 16px;
    }
    .menu-container div:active {
        transform: scale(0.95);
        box-shadow: 0 2px 2px lightgray;
    }
    .menu-container svg {
        right: 5px;
    }
}

/* media query */
@media screen and (min-width: 560px) {
    .menu-container {
        background-color: transparent;
        box-shadow: none;
    }
    .menu-container div {
        background-color: #6666;
        box-shadow: none;
    }
    .menu-container div:hover {
        background-color: #8888;
    }
    .menu-container div:active {
        box-shadow: none;
    }
    #history,
    #change-theme {
        border-bottom: none;
    }
}
